/* CSS Document */

body,p
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 2px;
	padding: 2px;
    text-align : left;
}


h1
{
	font-size : x-large;
	font-weight : bold;
	font-style: normal;
	color : Navy;
}

h2
{
	font-size: large;
	font-weight : bold;
	font-style: normal;
	color : Navy;
}

h3
{
	font-size: large;
	font-weight : normal;
	font-style : normal;
	color : Navy;
}

h4
{
	font-size: medium;
	font-weight : bold;
	font-style: normal;
	color : Navy;
}

h5  {
	font-size : small;
	font-weight : bold;
	font-style : italic;
	color : Navy;
}

h6  {
	font-size : x-small;
	font-weight : normal;
	font-style : normal;
	color : Navy;
}

a:link
{
	text-decoration: none;
	color: #3300aa
}

a:visited, active
{
	text-decoration: none;
	color: #3300aa
}

a:hover
{
	text-decoration: underline;
	color: #7700cc
}

span.error {
	color : Yellow;
	background-color  : Red;
}

span.middle {
	font-size: 9pt;
}

.textInput {
	color: navy;
   	background-color : #ffffcc;
}

.textInput2 {
	color: Navy;
   	background-color : White;
}

#submitBtn {
 color: Navy;
 background-color : Yellow;
 font-size: 12px;
 font-weight : bold;
 font-style: normal;
}


#submitBtn1 {
 color: White;
 background-color: Navy;
 font-size: 12px;
 font-weight : bold;
 font-style: normal;
 margin:2px;
 padding:4px;
}


#submitBtn2 {
 color: White;
 background-color: Purple;
 font-size: 12px;
 font-weight : bold;
 font-style: normal;
 margin:2px;
 padding:4px;
}

div#steering {
	clear : both;
 	position:relative;
	width:600px;
	height:400px;
    z-index: 1;
    border:solid 1px navy;
    background-color:#ffffff;
	font-size : 8pt;
    text-align: center;
	margin:1px;
	padding:2px;
}


div#maPalette {
	clear : both;
 	position:relative;
	width:900px;
	height:20px;
    z-index: 1;
    background-color:white;
	color:navy;
	margin:4px;
	padding:2px;
	text-align:center;
}


#leftDiv {
	position:fixed;
    top:60px;
    bottom:36px;
    left:1px;
 	width:50%;
    z-index: 1;
    border: solid 1px Navy;
    background-color:#ffffff;
	color: Black;
	margin:1px;
	padding : 2px;
	white-space : normal;
	overflow: auto;
}

#rightDiv {
	position:fixed;
    top:60px;
    bottom:36px;
    right:1px;
 	width:49%;
    /* height:800px; */

    z-index: 2;
    border: solid 1px Navy;
    background-color:#ffffff;
	color: Black;
	margin:1px;
	padding : 2px;
	white-space : normal;
	overflow: auto;
}

#baspageDiv {
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
    height:20;
	z-index: 0;
	color: White;
	background-color : Navy;
	font-family : sans-serif;
	font-size : 9pt;
	font-weight : normal;
	margin : 2px;
	padding : 4px;
    text-align: center;
	white-space : normal;
}


h1.bandeau{
	font-size: 200%;
	font-weight:bold;
	color:Yellow;
}


#bandeauDiv {
	position:fixed;
	left:0;
	top:0;
    width:100%;
	height:40;
	z-index: 0;
	color: Yellow;
	background-color : Navy;
	font-family : sans-serif;
	font-size: 10pt;
	font-weight : normal;
	margin : 0px;
	padding : 10px;
	white-space : normal;
}

a.bandeau:link  {
	font-family: verdana,sans-serif;
 	font-weight: bold;
 	color: Yellow;
	font-size: 10pt;
    text-decoration: none;
}

a.bandeau:active  {
	font-family: verdana,sans-serif;
 	font-weight: bold;
 	color: Yellow;
	font-size: 10pt;
    text-decoration: none;
}

a.bandeau:visited  {
	font-family: verdana,sans-serif;
 	font-weight: bold;
 	color: Yellow;
	font-size: 10pt;
    text-decoration: none;
}

a.bandeau:hover {
	font-family: verdana,sans-serif;
 	font-weight: bold;
 	color: White;
	font-size: 10pt;
    text-decoration: underline;

}

span.small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}


.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttongreen {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.buttongreen:hover {
  background-color: #4CAF50;
  color: white;
}

.buttonblue {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.buttonblue:hover {
  background-color: #008CBA;
  color: white;
}